:root, :root.dark {
  --bg: hsl(0, 0%, 100%);
  --bg--alt-a: hsl(200, 12%, 97%);
  --bg--alt-b: hsl(220, 14%, 93%);
  --color--green: hsl(95, 100%, 30%);
  --color--yellow: hsl(45, 100%, 34%);
  --color--blue: hsl(220, 100%, 48%);
  --color--cyan: hsl(196, 100%, 40%);
  --color--dark-grey: hsl(235, 8%, 32%);
  --color--light-grey: hsl(235, 8%, 16%);
  --color--white: hsl(0, 0%, 8%);
  --font-weight-default--normal: 400;
  --font-weight-default--bolder: 500;
  --font-weight-monospace--normal: 400;
  --font-weight-monospace--bolder: 500;
  color-scheme: light;
}

body {
  box-shadow: none;
  padding: 1rem;
}

footer,
h1,
#dark-theme,
#home {
  display: none;
}

blockquote,
code:not(pre>code),
pre,
table {
  background-color: transparent;
  border: 1pt solid var(--bg--alt-a);
}

table tr:nth-of-type(2n),
table>thead>tr {
  background-color: transparent;
}