@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 350;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uBsoa5M_tv7IihmnkabAReoYFiauqChHa9Iwh7EJIRd_id5qR1Z-B4SvNmBiT5StEx3smMc2ir-JRc1KuPxYkHaEHuOm-SRGNRTJHUR4kzCrX6gRq1Zc06hCx5pl0WvcCOdMbpQ8wC3NnJ30rOu3s5-nUBrtuk&skey=929d48ffa46440d3&v=v20) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 350;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uDsoa5M_tv7IihmnkabDRZs-ZwKeiAgnC_IQZ1EpAXcfqf-Lp3ZeZ-SPFoCCb7TNcz3LfycWqt_pZe2qWNx48BakPwJG2QQmVTTp_aRYs1DLf4vyS3Z8s8hi53qF8Uu8aMdtj3Qc4E2tvL0UTMuX0_-Or77g&skey=ec2e092f18395a78&v=v20) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uSsoa5M_tv7IihmnkabAReu49Y_Bo-HVKMBi6Ue5s-bryQ6almcvdtWe55GzfsXcQi08aBAB3cjechq9b8sP5yG0zhN3yHU3ZCUY7JVJwkH6b3jheGUPoPtxFGm24jivW9ecnkUNkVycrUwFfdrmws6XgOPixyDur24O7j3EQVMH4DTgdjN3AqvA&skey=929d48ffa46440d3&v=v20) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uDsoa5M_tv7IihmnkabDRZs-xwKeiAgnC_IQZ1EpAXcfqf-Lp3ZeZ-SPFoCCb7TNcz3LfycWqt_pZe2qWNx48BakPwJG2QQmVTTp_aRYs1DLf4vyS3Z8s8hi53qF8Uu8aMdtj3Qc4E2tvL0UTMuX0_-Or_3L2G534BBQ&skey=ec2e092f18395a78&v=v20) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uDsoa5M_tv7IihmnkabDRZs-ZwKeiAgnC_IQZ1EpAXcfqf-Lp3ZeZ-SPFoCCb7TNcz3LfycWqt_pZe2qWNx48BakPwJG2QQmVTTp_aRYs1DLf4vyS3Z8s8hi53qF8Uu8aMdtj3Qc4E2tvL0UTMuX0_-Or77g&skey=ec2e092f18395a78&v=v20) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uDsoa5M_tv7IihmnkabDRZs-xwKeiAgnC_IQZ1EpAXcfqf-Lp3ZeZ-SPFoCCb7TNcz3LfycWqt_pZe2qWNx48BakPwJG2QQmVTTp_aRYs1DLf4vyS3Z8s8hi53qF8Uu8aMdtj3Qc4E2tvL0UTMuX0_-Or_3L2G534BBQ&skey=ec2e092f18395a78&v=v20) format('woff2');
}

/* https://fonts.google.com/specimen/Crimson+Pro */

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=nwpStKy2OAdR1K-IwhWudF-R7w0IP-L8zlRZ1YpXgFgn_wIfsaDw9Aj7igWpNxe2gWG5ID39yxcUNhOUJ9EwfDHeIijiYee9tPMqjTMyJscj5ugmWEefeCFmi6vrUOlbV5bJ1feoJAkTeLayxdaBx7OhiJ8G&skey=1497ac707ba83cff&v=v4) format('woff2');
}

/* https://fonts.google.com/specimen/Source+Sans+3 */

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=uU9NCBsR6Z2vfE9aq3bR38bZonK0Vz8z2tIHHH3wH-vPhQw1Gql7_g-Q2O-rjMJdPTet3gsjjZhcmv-N5MJA-R8RyDjtD54hXpqXglxv42TJYtiXABlnqGlpG4q4aMeLTfI1xeddGI5AFgVhANikYQ4&skey=33bc0af28fd31bc7&v=v18) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=uU9NCBsR6Z2vfE9aq3bR38bZonK0Vz8z2tIHHH3wH-vPhQw1Gql7_g-Q2O-rjMJdPTet3gsjjZhcmv-N5MJA-R8RyDjtD54hXpqXglxv42TJYtiXABlnqGlpG4q4aMeLTfI1xeddGI5AFgVhANikYQ4&skey=33bc0af28fd31bc7&v=v18) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=uU9NCBsR6Z2vfE9aq3bR38bZonK0Vz8z2tIHHH3wH-vPhQw1Gql7_g-Q2O-rjMJdPTet3gsjjZhcmv-N5MJA-R8RyDjtD54hXpqXglxv42TJYtiXABlnqGlpG4q4aMeLTfI1xeddGI5AFgVhANikYQ4&skey=33bc0af28fd31bc7&v=v18) format('woff2');
}

/* https://fonts.google.com/specimen/Fira+Code */

:root {
  /* Light color scheme variables. */
  --bg: hsl(0, 0%, 100%);
  --bg--alt-a: hsl(200, 12%, 97%);
  --bg--alt-b: hsl(220, 14%, 93%);
  --color--green: hsl(95, 100%, 30%);
  --color--yellow: hsl(45, 100%, 34%);
  --color--blue: hsl(220, 100%, 48%);
  --color--cyan: hsl(196, 100%, 40%);
  --color--dark-grey: hsl(235, 8%, 32%);
  --color--light-grey: hsl(235, 8%, 16%);
  --color--white: hsl(0, 0%, 8%);
  --font-weight-default--normal: 400;
  --font-weight-default--bolder: 500;
  --font-weight-monospace--normal: 400;
  --font-weight-monospace--bolder: 500;
  color-scheme: light;
  /* General variables. */
  --font-family--default: 'Crimson Pro', serif;
  --font-family--headline: 'Source Sans 3', sans-serif;
  --font-family--monospace: 'Fira Code', monospace;
  --font-size--default: 18.7px;
  --font-size--h1: 1rem;
  --font-size--h2: 2.2rem;
  --font-size--h3: 1.9rem;
  --font-size--h4: 1.6rem;
  --font-size--h5: 1.3rem;
  --font-size--h6: 1rem;
  --font-size--monospace: .73em;
  --font-weight-headline--normal: 600;
  color: var(--color--light-grey);
  font-family: var(--font-family--default);
  font-size: var(--font-size--default);
  font-weight: var(--font-weight-default--normal);
  line-height: 1.3;
}

.dark {
  /* Dark color scheme variables. */
  --bg: hsl(235, 14%, 8%);
  --bg--alt-a: hsl(235, 14%, 5%);
  --bg--alt-b: hsl(235, 14%, 3%);
  --color--green: hsl(95, 80%, 70%);
  --color--yellow: hsl(45, 95%, 70%);
  --color--blue: hsl(220, 84%, 75%);
  --color--cyan: hsl(196, 95%, 70%);
  --color--dark-grey: hsl(235, 8%, 58%);
  --color--light-grey: hsl(235, 8%, 72%);
  --color--white: hsl(0, 0%, 92%);
  --font-weight-default--normal: 350;
  --font-weight-default--bolder: 450;
  --font-weight-monospace--normal: 300;
  --font-weight-monospace--bolder: 400;
  color-scheme: dark;
}

::selection {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *BASIC LAYOUT ELEMENTS */
/* *BASIC LAYOUT ELEMENTS */
/* *BASIC LAYOUT ELEMENTS */

html {
  justify-content: center;
  background-color: var(--bg--alt-a);
}

html, body {
  display: flex;
  min-block-size: 100%;
}

body {
  background-color: var(--bg);
  flex-direction: column;
  gap: 2rem;
  max-width: 70ch;
  box-shadow: 0 0 1.5px 1px var(--bg--alt-b);
  padding: 0 2rem;
  width: 100%;
}

main>* {
  margin-bottom: 1rem;
}

footer {
  margin-top: auto;
  padding: 2rem 0;
}

footer,
h1,
blockquote p,
blockquote p * {
  color: var(--color--dark-grey);
}

footer,
h1,
table {
  font-size: .9rem;
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: underline;
}

footer a,
h1 a {
  color: inherit;
}

hr {
  border: none;
  border-top: 1px solid var(--bg--alt-a);
  margin: 2rem 0;
}

/* *HEADLINES */
/* *HEADLINES f */
/* *HEADLINES */

h1 {
  font-weight: var(--font-weight-default--normal);
}

h1 a {
  display: flex;
  margin-left: -2rem;
  padding: 2rem;
  width: fit-content;
}

h2 {
  font-size: var(--font-size--h2);
}

h2,
h3 {
  font-weight: var(--font-weight-headline--normal);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color--white);
  font-family: var(--font-family--headline);
  line-height: 1;
  padding-top: .2em;
}

h3 {
  font-size: var(--font-size--h3);
}

h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

h3>code {
  font-family: var(--font-family--monospace);
  font-weight: var(--font-weight-monospace--bolder);
  padding: 0;
}

h4 {
  font-size: var(--font-size--h4);
}

h5 {
  font-size: var(--font-size--h5);
}

h6 {
  font-size: var(--font-size--h6);
}

/* *TEXT BLOCKS */
/* *TEXT BLOCKS */
/* *TEXT BLOCKS */

a {
  color: var(--color--blue);
  text-decoration: none;
}

a:hover:not(h1 a),
a:focus:not(h1 a) {
  text-decoration: underline currentColor solid 1px;
}

p,
li {
  text-align: justify;
  hyphens: auto;
}

li {
  margin-top: .2rem;
}

li::before {
  content: "‐";
}

li::before,
ol>li::before {
  padding-right: .75ch;
}

ol {
  counter-reset: i;
  list-style-type: none;
}

ol,
ul {
  list-style-type: none;
  padding-left: 2ch;
}

ol>li {
  counter-increment: i;
}

ol>li::before {
  content: counters(i, '.') ".";
}

blockquote {
  width: fit-content;
}

blockquote,
code:not(pre>code),
pre,
table {
  background-color: var(--bg--alt-a);
  border-radius: 6px;
}

blockquote,
pre {
  padding: .5rem .75rem;
}

blockquote,
pre,
table {
  margin-top: .2rem;
  margin-left: -.75rem;
  margin-right: -.75rem;
}

code,
pre {
  font-family: var(--font-family--monospace);
  font-weight: var(--font-weight-monospace--normal);
  hyphens: none;
}

code {
  font-size: var(--font-size--monospace);
}

code:not(pre>code) {
  color: var(--color--cyan);
  padding: .125em .5ch;
}

pre {
  line-height: 1.2;
  overflow: auto;
}

strong {
  color: var(--color--green);
  font-weight: var(--font-weight-default--bolder);
}

em {
  color: var(--color--yellow);
  font-style: italic;
}

/* *TABLE */
/* *TABLE */
/* *TABLE */

table {
  background-color: var(--bg--alt-a);
  border-spacing: 0;
  overflow: hidden;
}

table tr:nth-of-type(2n),
table tr:nth-of-type(2n-1) code,
thead tr {
  background-color: var(--bg--alt-b);
}

tr>*:first-of-type {
  padding-left: .75rem;
}

tr>*:last-of-type {
  padding-right: .75rem;
}

th {
  color: var(--color--white);
  font-weight: var(--font-weight-default--bolder);
}

th,
td {
  vertical-align: top;
  padding: .5rem;
}

/* *CUSTOM ELEMENTS */
/* *CUSTOM ELEMENTS */
/* *CUSTOM ELEMENTS */

#dark-theme,
#home {
  background-color: var(--bg);
  border-radius: 50%;
  display: grid;
  height: .66in;
  /* line-height: 0; */
  place-content: center;
  position: fixed;
  right: .33in;
  user-select: none;
  width: .66in;
  box-shadow: 0 1px 2px 1px var(--bg--alt-b);
}

#dark-theme {
  cursor: pointer;
  bottom: 1.89in;
}

#dark-theme>input {
  display: none;
}

#dark-theme>input+span::before {
  content: "🌕";
}

#dark-theme>input:checked+span::before {
  content: "🌑";
}

#home {
  bottom: 1in;
  text-decoration: none;
}