<!doctype html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="🌱 My learning docs and notes.">
    <meta name="author" content="Leonardo de S.L.F"/>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/syntax-highlight.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <title>Docs & Notes</title>
  </head>
  <body>
    <h1>
      <a href="/">Docs & Notes</a>
    </h1>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>
        🌱 My learning docs and notes. By
        <a href="https://www.leodeslf.com/">leodeslf</a>
        © 2021 Docs & Notes
      </p>
    </footer>
  </body>
</html>