:root {
  --bg: hsl(210, 15%, 8%);
  --bg--alt-a: hsl(210, 10%, 5%);
  --bg--alt-b: hsl(210, 10%, 4%);
  --color: hsl(180, 4%, 72%);
  --color--variation: hsl(180, 2%, 52%);
  --color--alt: hsl(160, 68%, 54%);
  --color--alt-variation: hsl(110, 58%, 68%);
  --color--h2: hsl(180, 0%, 96%);
  --color--h3: hsl(180, 0%, 88%);
  --color--h4: hsl(180, 0%, 82%);
  --color--h5: hsl(180, 0%, 76%);
  --color--h6: hsl(180, 0%, 72%);
  background-color: var(--bg);
  color: var(--color);
  color-scheme: dark;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
}