@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=aFTR7PB1QTsUX8KYvrGyIYG_N43dfHtrnIxZTJDPBOB4UCmNI2xPlbOv17hhi2vxRj7N4KlbmYQeEiC8L4do19Mgc3EO-YNXV9NywmZcCoYj7jQA7aZLIZPetWrOh3JF3ZxxfgoN6b5DkB87MRqzvQWk&skey=d4f206f6aecab2b9&v=v5) format('woff2');
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'DM Mono', monospace;
  line-height: 1.4;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #090e0e;
  color: #93a3b4;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  color: #ffffff;
  background: #000000;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
  color: #ffffff;
  background: #000000;
}

/* Code blocks */

pre[class*="language-"] {
  overflow: auto;
}

/* Inline code */

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #70849c;
}

.token.punctuation {
  color: #627c9b;
}

.token.namespace {
  opacity: .7;
}

.token.tag, .token.operator, .token.number {
  color: #0aa370;
}

.token.property, .token.function {
  color: #7eb6f6;
}

.token.tag-id, .token.selector, .token.atrule-id {
  color: #ebf4ff;
}

code.language-javascript, .token.attr-name {
  color: #9dafc5;
}

code.language-css, code.language-scss, .token.boolean, .token.string, .token.entity, .token.url, .language-css .token.string, .language-scss .token.string, .style .token.string, .token.attr-value, .token.keyword, .token.control, .token.directive, .token.unit, .token.statement, .token.regex, .token.atrule {
  color: #47ebb4;
}

.token.placeholder, .token.variable {
  color: #47ebb4;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #ebf4ff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important, .token.bold {
  font-weight: bold;
}

.token.important {
  color: #7eb6f6;
}

.token.entity {
  cursor: help;
}

pre>code.highlight {
  outline: .4em solid #34659d;
  outline-offset: .4em;
}

.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #1f2932;
}

.line-numbers .line-numbers-rows>span:before {
  color: #2c3847;
}

.line-highlight.line-highlight {
  background: rgba(10, 163, 112, 0.2);
  background: -webkit-linear-gradient(left, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0));
  background: linear-gradient(to right, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0));
}