@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=aFTT7PB1QTsUX8KYth-orYatbZ-jfnltmo5bQp7NBuZ-UiuTPW5Nk7Wt1bZviWn3QDzPntdZm4IYECKyIYVq0dUicW8Q-4FRUdFwzGheCIAl7DY-06RJJ5Xct2TAhXBD255zYBQP67hFkh01PxixuwOmpoQ&skey=adfe8cf4b5bc144d&v=v5) format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=aFTR7PB1QTsUX8KYvrGyIYG_N43dfHtrnIxZTJDPBOB4UCmNI2xPlbOv17hhi2vxRj7N4KlbmYQeEiC8L4do19Mgc3EO-YNXV9NywmZcCoYj7jQA7aZLIZPetWrOh3JF3ZxxfgoN6b5DkB87MRqzvQWk&skey=d4f206f6aecab2b9&v=v5) format('woff2');
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'DM Mono', monospace;
  line-height: 1.4;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--bg--alt-a);
  color: var(--color);
}

pre[class*="language-"] {
  overflow: auto;
}

.token.entity, .token.attr-value, .token.keyword, .token.control, .token.unit, .token.directive, .token.statement, .token.regex, .token.atrule, .token.property, .token.function {
  color: var(--color--blue);
}

.token.punctuation, .token.operator, .token.tag, .token.tag-id, .token.selector, .token.atrule-id {
  color: var(--color--turquoise);
}

.token.variable, .token.attr-name, .token.number, .token.string, .style .token.string, .token.boolean, .token.url {
  color: var(--color--green);
}

.token.placeholder, .token.important {
  color: white;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: grey;
}

.token.comment, .token.italic {
  font-style: italic;
}

.token.important, .token.bold {
  font-weight: bold;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #ebf4ff;
  text-decoration: none;
}

.token.namespace {
  opacity: .7;
}