:root {
  color-scheme: light;
}

body {
  outline: unset;
}

header,
footer {
  display: none;
}

html,
body,
blockquote,
pre,
table,
tbody tr:nth-of-type(2n) {
  background-color: unset;
}

blockquote,
pre,
table {
  outline: 1px solid var(--border-color);
}