@media screen and (max-width: 5.99px) {
  /* :root {
    font-size: 17.2px;
  } */

  body {
    padding: 0 1rem;
  }

  h1 a {
    margin-left: -1;
  }

  /* li {
    text-align: unset;
  } */

  blockquote,
  pre,
  table {
    margin-left: 0;
    margin-right: 0;
  }
}