@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uBsoa5M_tv7IihmnkabAReoYFiYOqChHa9Iwh7EJIRd_id5qR1Z-B4SvNmBiT5StEx3smMc2ir-JRc1KuPxYkHaEHuOm-SRGNRTJHUR4kzCrX6gRq1Zc06hCx5pl0WvcCOdMbpQ8wC3NnJ30rOu3s5-nUBrt-fmRwdehcE&skey=929d48ffa46440d3&v=v23) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uBsoa5M_tv7IihmnkabAReoYFiYOqChHa9Iwh7EJIRd_id5qR1Z-B4SvNmBiT5StEx3smMc2ir-JRc1KuPxYkHaEHuOm-SRGNRTJHUR4kzCrX6gRq1Zc06hCx5pl0WvcCOdMbpQ8wC3NnJ30rOu3s5-nUBrt-fmRwdehcE&skey=929d48ffa46440d3&v=v23) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uBsoa5M_tv7IihmnkabAReoYFiYOqChHa9Iwh7EJIRd_id5qR1Z-B4SvNmBiT5StEx3smMc2ir-JRc1KuPxYkHaEHuOm-SRGNRTJHUR4kzCrX6gRq1Zc06hCx5pl0WvcCOdMbpQ8wC3NnJ30rOu3s5-nUBrt-fmRwdehcE&skey=929d48ffa46440d3&v=v23) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uDsoa5M_tv7IihmnkabDRZs-xwKeiAgnC_IQZ1EpAXcfqf-Lp3ZeZ-SPFoCCb7TNcz3LfycWqt_pZe2qWNx48BakPwJG2QQmVTTp_aRYs1DLf4vyS3Z8s8hi53qF8Uu8aMdtj3Qc4E2tvL0UTMuX0_-Or_1b2G534BBQ&skey=ec2e092f18395a78&v=v23) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uDsoa5M_tv7IihmnkabDRZs-xwKeiAgnC_IQZ1EpAXcfqf-Lp3ZeZ-SPFoCCb7TNcz3LfycWqt_pZe2qWNx48BakPwJG2QQmVTTp_aRYs1DLf4vyS3Z8s8hi53qF8Uu8aMdtj3Qc4E2tvL0UTMuX0_-Or_1b2G534BBQ&skey=ec2e092f18395a78&v=v23) format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uDsoa5M_tv7IihmnkabDRZs-xwKeiAgnC_IQZ1EpAXcfqf-Lp3ZeZ-SPFoCCb7TNcz3LfycWqt_pZe2qWNx48BakPwJG2QQmVTTp_aRYs1DLf4vyS3Z8s8hi53qF8Uu8aMdtj3Qc4E2tvL0UTMuX0_-Or_1b2G534BBQ&skey=ec2e092f18395a78&v=v23) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZ1z5ZWhuczwXBeqMa5gBEoSngYeSccKNRQ2Q9D5ivBFtS4d3Ee1Ap5HMRnm-xTOPmSh7AwSdjnIF7pxHkxy0WzxiIjSfXSW7CRPd0mLidxcjVwxGyIYZ0SxvdiMpmZobtM1FxNVqWNCOa_X&skey=c491285d6722e4fa&v=v12) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=uU9NCBsR6Z2vfE9aq3bR38bZonK0Vz8z2tIHHH3wH-vPhQw1Gql7_g-Q2O-rjMJdPTet3gsjjZhcmv-N5MJA-R8RyDjtD54hXpqXglxv42TJYtiXABlnqGlpG4q4aMeLTfI1xeddGI5AFgVhANikYQ4&skey=33bc0af28fd31bc7&v=v21) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=uU9NCBsR6Z2vfE9aq3bR38bZonK0Vz8z2tIHHH3wH-vPhQw1Gql7_g-Q2O-rjMJdPTet3gsjjZhcmv-N5MJA-R8RyDjtD54hXpqXglxv42TJYtiXABlnqGlpG4q4aMeLTfI1xeddGI5AFgVhANikYQ4&skey=33bc0af28fd31bc7&v=v21) format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=uU9NCBsR6Z2vfE9aq3bR38bZonK0Vz8z2tIHHH3wH-vPhQw1Gql7_g-Q2O-rjMJdPTet3gsjjZhcmv-N5MJA-R8RyDjtD54hXpqXglxv42TJYtiXABlnqGlpG4q4aMeLTfI1xeddGI5AFgVhANikYQ4&skey=33bc0af28fd31bc7&v=v21) format('woff2');
}

:root {
  --font-family--monospace: 'Fira Code', monospace;
  /* --font-size--default: 19px; */
  --font-size--secondary: 18px;
  --font-size--monospace: .75em;
  --font-weight-headline: 700;
  /* --line-length: 68ch; */
  /* Light color scheme variables. */
  --bg: hsl(0, 0%, 100%);
  --bg--off: hsl(0, 0%, 97%);
  --bg--em: hsla(60, 100%, 50%, .3);
  --bg--monospace: hsla(190, 100%, 50%, .2);
  --bg--strong: hsla(120, 100%, 50%, .2);
  --color: #080808;
  --color--off: hsl(0, 0%, 33%);
  --color--anchor: hsl(220, 100%, 50%);
  --color--headline: hsl(0, 0%, 3%);
  --color--pre-cyan: hsl(197, 100%, 35%);
  --color--pre-green: hsl(84, 80%, 30%);
  --color--pre-yellow: hsl(39, 100%, 30%);
  --box-shadow-color: hsla(0, 0%, 0%, .05);
  --font-weight-default: 400;
  --font-weight-default--bolder: 500;
  --font-weight-monospace: 400;
  --font-weight-monospace--bolder: 500;
  /* End of light color scheme variables */
}

.dark {
  --bg: hsl(220, 30%, 5%);
  --color: hsl(0, 0%, 80%);
  --color--off: hsl(0, 0%, 67%);
  --color--headline: hsl(0, 0%, 93%);
  --color--anchor: hsl(220, 100%, 80%);
  --color--green: hsl(110, 60%, 70%);
  --color--yellow: hsl(46, 100%, 75%);
  --color--pre-cyan: hsl(200, 100%, 76%);
  --color--pre-green: hsl(110, 60%, 70%);
  --color--pre-yellow: hsl(46, 100%, 75%);
  --box-shadow-color: hsla(0, 0%, 0%, .3);
  --font-weight-default: 300;
  --font-weight-default--bolder: 400;
  --font-weight-monospace: 300;
  --font-weight-monospace--bolder: 400;
  letter-spacing: -.025em;
  color-scheme: dark;
}

::selection {
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

/* *LAYOUT ELEMENTS */
/* *LAYOUT ELEMENTS */
/* *LAYOUT ELEMENTS */

html {
  /* background-color: var(--bg); */
  block-size: 100%;
}

body {
  /* align-items: center;
  display: flex;
  flex-direction: column; */
  min-block-size: 100%;
}

/* body>* {
  padding: 2rem;
} */

main {
  /* background-color: var(--bg--emphasis); */
  /* border-radius: 6px; */
  /* box-shadow: 0 0 3px var(--shadow-color), 0 0 6px var(--shadow-color); */
  /* width: var(--line-length); */
  max-width: 68ch;
}

/* main>* {
  margin-bottom: 1rem;
} */

/* main>:first-child {
  margin-top: 0;
} */

/* main>:last-child {
  margin-bottom: 0;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color--headline);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  letter-spacing: -.01em;
  margin-block-start: 1em;
  margin-block-end: .5rem;
}

h1>code,
h2>code,
h3>code,
h4>code,
h5>code,
h6>code {
  --font-size--monospace: .9em;
  font-weight: var(--font-weight-monospace--bolder);
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

a {
  color: var(--color--anchor);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline var(--color--anchor) solid 1px;
}

p,
li {
  text-align: justify;
  hyphens: auto;
}

li {
  margin-top: .1em;
}

li::before {
  content: "‐";
  padding-right: .5rem;
}

ol {
  counter-reset: i;
  list-style-type: none;
}

ol,
ul {
  list-style-type: none;
  padding-left: .5rem;
}

ol>li {
  counter-increment: i;
}

ol>li::before {
  content: counters(i, '.') ".";
  font-feature-settings: "tnum";
}

blockquote {
  margin-inline: -.75rem;
  font-size: var(--font-size--secondary);
}

blockquote * {
  color: var(--color--off) !important;
  background-color: unset !important;
}

blockquote,
details,
pre {
  padding: .5rem .75rem;
}

blockquote,
details,
pre,
table {
  background-color: var(--bg);
  border-radius: 6px;
  margin-top: .2rem;
}

details,
pre,
table {
  margin-inline: -.75rem;
}

summary {
  cursor: pointer;
  padding: .5rem .75rem;
  margin: -.5rem -.75rem;
}

code,
pre {
  font-family: var(--font-family--monospace);
  font-weight: var(--font-weight-monospace);
  letter-spacing: -.05em;
}

code {
  font-size: var(--font-size--monospace);
}

code:not(pre>code) {
  background-color: var(--bg--monospace);
  border-radius: 6px;
  padding-inline: .25em;
  /* padding: .1em .25em; */
}

.dark code:not(pre>code) {
  background-color: unset;
  border-radius: unset;
  color: var(--color--pre-cyan);
  padding: unset;
}

summary {
  user-select: none;
}

pre {
  line-height: 1;
  overflow: auto;
}

strong {
  font-weight: var(--font-weight-default--bolder);
  letter-spacing: -.3px;
}

.highlights strong {
  background-color: var(--bg--strong);
}

.dark strong {
  background-color: unset;
  color: var(--color);
}

.dark.highlights strong {
  color: var(--color--green);
}

em {
  font-style: italic;
}

.highlights em {
  background-color: var(--bg--em);
}

.dark em {
  background-color: unset;
  color: var(--color);
}

.dark.highlights em {
  color: var(--color--yellow);
}

hr {
  border: none;
  border-top: 1px solid var(--bg--emphasis-alternative);
  margin: 2rem 0;
}

footer {
  color: var(--color--off);
  font-size: var(--font-size--secondary);
  margin-top: auto;
}

footer>p {
  text-align: center;
}

table {
  background-color: var(--bg);
  border-spacing: 0;
  overflow: hidden;
}

table tr:nth-of-type(2n),
thead tr {
  background-color: var(--bg--emphasis-alternative);
}

tr>*:first-of-type {
  padding-left: .75rem;
}

tr>*:last-of-type {
  padding-right: .75rem;
}

th {
  color: var(--color--headline);
  font-weight: var(--font-weight-default--bolder);
}

th,
td {
  vertical-align: top;
  padding: .5rem;
}

/* .toc {
  font-size: var(--font-size--secondary);
  margin-top: 1rem;
} */

/* #control-buttons {
  bottom: .8in;
  display: flex;
  flex-direction: column;
  gap: .2in;
  padding: 0;
  position: fixed;
  right: .4in;
} */

/* .control-buttons__button {
  background-color: var(--bg--emphasis);
  box-shadow: 0 0 2px 0 var(--shadow-color), 0 0 3px var(--shadow-color), 0 0 6px var(--shadow-color);
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  font-size: .2in;
  height: .6in;
  place-content: center;
  user-select: none;
  width: .6in;
} */

/* .control-buttons__button>input {
  display: none;
} */

/* #home {
  text-decoration: none;
} */

/* @keyframes light-moon {
  0% {
    content: "🌑";
  }

  25% {
    content: "🌒";
  }

  50% {
    content: "🌓";
  }

  75% {
    content: "🌔";
  }

  100% {
    content: "🌔";
  }
} */

/* #prefers-dark>span::before {
  animation: light-moon 100ms linear;
  content: "🌕";
} */

/* @keyframes shadow-moon {
  0% {
    content: "🌔";
  }

  25% {
    content: "🌖";
  }

  50% {
    content: "🌗";
  }

  75% {
    content: "🌘";
  }

  100% {
    content: "🌑";
  }
} */

/* #prefers-dark>input:checked+span::before {
  animation: shadow-moon 100ms linear;
  content: "🌑";
} */

/* #prefers-highlights>span::before {
  content: "💡";
  filter: grayscale(0) brightness(1);
  transition: filter 100ms linear;
} */

/* #prefers-highlights>input:not(:checked)+span::before {
  filter: grayscale(1) brightness(.6);
} */